on: [pull_request]

jobs:
  code-review:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    steps:
      - name: Azure OpenAI CodeReviewer
        uses: samuelbrucksch/ChatGPT-CodeReview@0.0.9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AZURE_OPENAI_API_KEY: ${{ secrets.AZURE_OPENAI_API_KEY }}
          AZURE_API_ENDPOINT: https://riv-openai-mobile-engineering-dev-swedencentral.openai.azure.com
          AZURE_OPENAI_DEPLOYMENT_NAME: mobile-eng-gpt-o3-mini-dev-sdc
          AZURE_OPENAI_API_VERSION: 2024-12-01-preview
          # Optional 
          # AZURE_OPENAI_API_ASSISTANT_INSTRUCTION: "Please check if there are any confusions or irregularities in the following code diff:"
          top_p: 1
          temperature: 0.2
          max_tokens: 200000
          MAX_PATCH_LENGTH: 100000
